.CodeMirror{
    height: 360px !important;
    color: #fff;
    padding: 1px;
    margin: 1px;
}

.CodeMirror-glutters{
    background: rgb(223, 207, 207) !important;
}

.CodeMirror-scroll{
    overflow: auto !important;
    background: #1d1e22 !important;
}